
Api/SalesAgentBooking/.vs/ProjectEvaluation/salesagentbooking.metadata.v5.2
Api/SalesAgentBooking/.vs/ProjectEvaluation/salesagentbooking.projects.v5.2
Api/SalesAgentBooking/.vs/SalesAgentBooking/config/applicationhost.config
Api/SalesAgentBooking/.vs/SalesAgentBooking/DesignTimeBuild/.dtbcache.v2
Api/SalesAgentBooking/.vs/SalesAgentBooking/FileContentIndex/0ddd87e6-fe89-4049-8918-a232cb8dfc0c.vsidx
Api/SalesAgentBooking/.vs/SalesAgentBooking/FileContentIndex/20e025b5-0325-471d-a75c-39e4753d1413.vsidx
Api/SalesAgentBooking/.vs/SalesAgentBooking/FileContentIndex/c4d7434c-7e53-4598-a71f-e839e2ced935.vsidx
Api/SalesAgentBooking/.vs/SalesAgentBooking/FileContentIndex/f5f72a2b-a78c-4f74-97e0-14cbdea736ee.vsidx
Api/SalesAgentBooking/.vs/SalesAgentBooking/FileContentIndex/read.lock
Api/SalesAgentBooking/.vs/SalesAgentBooking/v17/.futdcache.v2
Api/SalesAgentBooking/.vs/SalesAgentBooking/v17/.suo
Api/SalesAgentBooking/.vs/SalesAgentBooking/v17/TestStore/0/003.testlog
Api/SalesAgentBooking/.vs/SalesAgentBooking/v17/TestStore/0/testlog.manifest
Api/SalesAgentBooking/.vs/slnx.sqlite
Api/SalesAgentBooking/.vs/VSWorkspaceState.json
